/*
 Assignment 04: NerdLuv
 You should link to this provided stylesheet from all of your pages.
 You should not need to modify this file.  Your pages should work with it as-is.
*/

* {
	font-size: 12pt;
	font-family: "Verdana", "Geneva", sans-serif;
}

a {
	color: #F44;
	text-decoration: none;
}

a:hover {
	background-color: #FFA;
}

a img {
	border: none;
}

#bannerarea {
	margin-bottom: 2em;
}

body {
	background-color: white;
	padding-left: 1em;
}

body > div, form {
	overflow: hidden;
	width: 35em;
}

div {
	overflow: hidden;
}

/* form styles */
fieldset {
	background-color: #E0E0FF;
	border: 2px outset gray;
	border-radius: 10px;
}

fieldset strong,
ul strong,
fieldset label.left,
fieldset .column {
	float: left;
	width: 11em;
}

h1 {
	margin-top: 0em;
}

input[type="submit"] {
	background-color: #FAA;
	font-size: 120%;
	font-weight: bold;
}

legend {
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
}

.match {
	margin-bottom: 1em;
}

.match img {
	width: 150px;
	float: left;
	margin-right: 10px;
	margin-bottom: 3em;
}

.match p {
	background-color: #E0E0FF;
	clear: left;
}

.match ul {
	padding-left: 160px;
}

ul {
	list-style-type: none;
	padding-left: 0em;
}

ul li a img {
	vertical-align: middle;
}

#w3c {
	clear: both;
}

h3 {
	margin: 0;
	padding: 10px 5px 10px 5px;
}

#Frame0 {
	background-color: #F7F7F7;
	margin: 30px auto auto;
	padding: 10px;
	width: 750px;
	border: 1px solid #EEE;
}

.Button3 {
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 23px;
	margin-right: 2px;
	min-width: 40px;
	padding: 0 16px;
	text-align: center;
	color: #FFFFFF;
	background: #6dbd45;
	border: 0;
	border-radius: 3px;
	padding: 3px 10px;
}

.Button3:active,
.a:active {
	position: relative;
	top: 1px;
}

.Button1:hover {
	text-decoration: none;
}

.button3:active {
	background: #6dbd45;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #5EA534), color-stop(1, #519327));
	background: -moz-linear-gradient(center top, #5EA534 20%, #519327 100%);
}

.Input {
	background-color: #FFFFFF;
	border-color: #A0A0A0 #B9B9B9 #B9B9B9;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 5px;
	width: 200px;
}

.Table {
	font-family: verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #E4E4E4;
}
.Table td {
	background-color: #F8F8F8;
}
